.header{
    text-align: center;
     color: red;
}
.G10{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.name{
   color: rgb(255, 0, 0);
}
.info{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text{
    cursor: pointer;
    border-radius: 5px;
    color: brown;
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
